<ul class="nav nav-tabs">
	<li class="">
		<a href="/social">Social</a>
	</li>
	<li>
		<a href="/mail">Mail</a>
	</li>
	<li class="">
		<a href="/payment">Payment</a>
	</li>
	<li class="active">
		<a href="/storage">Storage</a>
	</li>
	<li class="">
		<a href="/basic">Basic</a>
	</li>
</ul>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			Storage
		</h3>
	</div>
	<div class="panel-body">
					<div class="row">
						<form name="userForm1" novalidate>
						 <div class="col-sm-2" style="padding-left: 5%;"><!-- style="display:table-cell; vertical-align:middle; text-align:center;border: 1px ;" -->
							<img src="../assets/images/rsz_cloudinary_logo_square.png" class="img-responsive img-rounded">
						</div> 
						 <!-- <div class="col-sm-2">
		          <button class="btn btn-round btn-social-icon btn-facebook">
		           	<i class="fa fa-facebook"></i>
		          </button>
             </div> -->
						<div class="col-sm-10">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<input type="text" class="form-control" name="storageName" ng-model="storageCtrl.storageName" ng-disabled="storageCtrl.showStorage" value="" placeholder="App Id" required>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<input type="text" class="form-control" name="storageKey" ng-model="storageCtrl.storageKey" ng-disabled="storageCtrl.showStorage" value="" placeholder="Key" required>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<input type="password" class="form-control" name="storagePassword" ng-model="storageCtrl.storagePassword" ng-disabled="storageCtrl.showStorage"value="" placeholder="Password" required>
									</div>	
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<input type="email" class="form-control" name="storageCallbackUrl" ng-model="storageCtrl.storageUrl" ng-disabled="storageCtrl.showStorage"value="" placeholder=" Url" required>
									</div>	
								</div>
							</div>
						</div>
						</form>
					</div>
				</div>
				<div class="panel-footer">
					<div class="btn-group pull-right">
						<button type="button" name="SaveStorage" class="btn btn-primary btn-sm" ng-hide="storageCtrl.showStorage" 
						style="margin-right:5px;width:61px;height:30px;"ng-click="storageCtrl.saveStorageData()">Save</button>
						<button type="button" name="CancelStorage" class="btn btn-danger btn-sm" ng-hide="storageCtrl.showStorage" ng-click="storageCtrl.toggleFlag()">Cancel</button>
						<button type="button" name="EditStorage" class="btn btn-warning btn-sm" ng-show="storageCtrl.showStorage" ng-click="storageCtrl.toggleFlag()" style="width:61px;height:30px;"> Edit </button>
					</div>
					<div class="clearfix"></div>
				</div>
</div>
